html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary{
    background-color:darkblue;
    color:white;
}
.btn-secondary{
    background-color:whitesmoke;
}

.bi bi-pencil-square{
    color: black;
}

.btn btn-primary alert-secondary{
    color:black;
}

.table td,.table th{
    /*background-color:lightblue;
    font-size:15px;*/
    border:2px solid lightblue;
}
